body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(#141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(41, 41, 41);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

h2 {
  margin: 0 0 20px;
  color: #fff;
  text-transform: uppercase;
}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.user-defined {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-defined label {
  margin-right: 10px; 
  width: 80px; 
  text-align: left; 
  color: #fff;
  font-size: 16px;
}

.user-defined .input-container {
  flex: 1; 
}

.user-defined input {
  width: 100%; 
}

.error-message{
  color: #fff;
  font-size: 12px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
}

.user-box label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a#bookNowButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a#bookNowButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a#bookNowButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a#bookNowButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a#bookNowButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a#bookNowButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

#booking-details {
  margin: 20px;
  font-weight: bold;
  color: #fff;
}

#verification-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


#verification-popup input {
  margin-bottom: 10px;
}

#verification-popup button {
  padding: 10px;
}
#confirmation-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#confirmation-popup p {
  margin-bottom: 10px;
}

#confirmation-popup button {
  padding: 10px;
}



/* nth-trans-delay() */
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s) {
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      transition-delay: $delay_time * $i;
    }
  }
}

/* nth-ani-delay() */
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s) {
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}

/* bg-overlay() */
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }

  /* Layer atop overlay */
  & > #{$top_layer} {
    z-index: 2;
    position: relative;
  }
}

/* Setups */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.sep {
  border: 0;
  width: 3em;
  height: 5px;
  margin: 1em 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 3;
  top: 48%;
}

.mast {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111;
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(#111, 0.9);
  }
}

.mast__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50%;
  opacity: 30%;
}

.mast__header {
  padding: 5%;
}

.mast__title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: flex;
}

/* Letter animation */
.mast__title span {
  animation: letter-glow 1s 0s ease both;
  @include nth-ani-delay(25, 0.05s);
}

/* Letter animation */
.mast__text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 0 0.5em;
  line-height: 1.5;
  white-space: pre;
  text-transform: uppercase;
}

.mast__text span {
  animation: letter-glow 1s 0s ease both;
  @include nth-ani-delay(180, 0.05s);
}

/* Letter Glow */
@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.0);
  }
}
.exit{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 50px;
  height: 50px;
  font-size: 3em;
  color: #fff;
  background-color: rgba(0,0,0,0);
  border: 0cap;
  z-index: 5;
}
.exit a{
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* Background color for the loading screen */
  z-index: 1000;
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-screen p {
  margin-top: 10px;
  font-size: 16px;
  color: #333; /* Text color for the loading message */
}

.content {
  display: none; /* Hide the content initially */
}
.loaded{
  opacity: 0;
  display: none;
}

/* Add more styles for your main content as needed */

